.header-link {
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: whitesmoke;
}

.user-info-container {
    display: flex;
    justify-content: space-between;
    color: black;
}

.user-info-container div {
    padding: 10px;
}