.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.login-form input {
    margin: 1rem;
}

.testing-note div {
    display: inline-block;
}

.testing-note div {
    margin: 25px;
    padding: 10px;
    background-color: darkorange;
    color: black;
}