.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.signup-form input {
    margin: 1rem;
}